.app{
  background-color: #dadbd3;
  display: grid;
  place-items: center;
  height:100vh;
}
.app__body{
  display: flex;
  height: 90vh;
  margin-top: -40px;
  background-color:#e6e6e6;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.4);
}
@media(max-width:628px){
 .app__body{
   height: 100vh;
   margin: 0 !important;
   width: 100vw;
   overflow-x: hidden;
 }
}