.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgb(211, 202, 202);
}

.sidebarChat:hover {
    background-color: #d8d6d6;
}

.sidebarChat h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}

a {
    color: black;
    text-decoration: none;

}

.sidebar__lastMessageName {
    color: red;
    font-weight: bolder;
}

.sidebar__chatList {
    display: block;
}